// Переменные для шрифтов Poppins
$font-poppins: 'Poppins', sans-serif;

$p-weight-thin: 100; // Poppins Thin
$p-weight-extra-light: 200; // Poppins Extra Light
$p-weight-light: 300; // Poppins Light
$p-weight-normal: 400; // Poppins Normal
$p-weight-medium: 500; // Poppins Medium
$p-weight-semi-bold: 600; // Poppins Semi Bold
$p-weight-bold: 700; // Poppins Bold
$p-weight-extra-bold: 800; // Poppins Extra Bold
$p-weight-black: 900; // Poppins Black

// Переменные для шрифтов Roboto
$font-roboto: 'Roboto', sans-serif;

$r-weight-thin: 100; // Roboto Thin
$r-weight-extra-light: 200; // Roboto Extra Light
$r-weight-light: 300; // Roboto Light
$r-weight-normal: 400; // Roboto Normal
$r-weight-medium: 500; // Roboto Medium
$r-weight-semi-bold: 600; // Roboto Semi Bold
$r-weight-bold: 700; // Roboto Bold
$r-weight-extra-bold: 800; // Roboto Extra Bold
$r-weight-black: 900; // Roboto Black