// src/styles/_variables.scss

// ### Colors ###
$primary-color: #3575E2;

$gray: #808080;
$gray-light: #E8E8E8;
// $gray-lighter: #e0e0e0;
// $gray-dark: #404040;
// $gray-darker: #2c2c2c;

$black: #000;
$black-light: #333333;  // Светло-черный
// $black-lighter: #666666; // Очень светлый черный
// $black-dark: #1a1a1a;   // Темный черный
// $black-darker: #0d0d0d; // Очень темный черный

$white: #fff;

$red: #FF2C2C;



// ### FontsSize ###
$font-size-10: 10px;
$font-size-12: 12px;
$font-size-14: 14px;
$font-size-15: 15px;
$font-size-16: 16px;
$font-size-18: 18px;
$font-size-20: 20px;
$font-size-24: 24px;
$font-size-28: 28px;
$font-size-32: 32px;
$font-size-36: 36px;
$font-size-40: 40px;
$font-size-48: 48px;
$font-size-56: 56px;
$font-size-64: 64px;
$font-size-72: 72px;
$font-size-80: 80px;
$font-size-96: 96px;